.sendMail {
    position: absolute;
    bottom: 0;
    right: 50px;
    background-color: #404040;
    width: 40%;
    height: 40%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid#f5f5f5;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.sendMail_header {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080;
}

.sendMail_header>H3 {
    color: #f5f5f5;
    font-size: 13px;
}

.sendMail_send {
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}

.sendMail_close {
    cursor: pointer;

}

form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sendMail_error {
    background-color: #fff;
    color: crimson;
    text-align: right;
    padding: 2px;
}

.sendMail>form>input {
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    outline: none;
}

.sendMail_message {
    flex: 1;
}