.sidebar_right {
    top: 10%;
    width: 56px;
    margin-bottom: 20px;
    display: grid;
    position: absolute;
    border-left: 1px solid whitesmoke;
    right: 0px;
    grid-template-rows: 10% 10% 10% 10% 10% 50%;
    height: 578px;
}

.sidebar_right .calender {
    background: url('../Image/calendar.png');
    align-items: center;
    height: 40px;
    pointer-events: auto;
    width: 40px;
    margin-top: 15px;
    margin-left: 7px;
}

.sidebar_right .keep {
    background: url('../Image/keep.png');
    align-items: center;
    height: 40px;
    left: 8px;
    pointer-events: auto;
    position: absolute;
    top: 13%;
}

.sidebar_right .task {
    background: url('../Image/tasks.png');
    align-items: center;
    height: 40px;
    left: 8px;
    pointer-events: auto;
    position: absolute;
    top: 22%;
}

.sidebar_right .contact {
    background: url('../Image/contacts.png');
    height: 40px;
    left: 8px;
    pointer-events: auto;
    position: absolute;
    top: 33%;
}

.sidebar_right .contact,
.sidebar_right .task,
.sidebar_right .calender,
.sidebar_right .keep {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    border-radius: 50%;
    width: 40px;
    cursor: pointer;
}

.sidebar_right .icon {
    position: absolute;
    top: 42.5%;
    border-top: 1px solid whitesmoke;
    left: 4px;
    margin-top: 11%;
}

.sidebar_right .icon .MuiIconButton-root {
    margin-top: 38.5%;
}