.sidebarOptionleft {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;
}

.sidebarOptionleft .MuiSvgIcon-root {
    padding: 5px;
    font-size: 2.01rem;
}

.sidebarOptionleft h3 {
    flex: 1;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
}

.sidebarOptionleft p {
    display: none;
    font-weight: 300;
}

.sidebarOptionleft:hover>p {
    display: inline;
}

.sidebarOptionleft:hover,
.sidebarOptionleft:hover>p,
.sidebarOptionleft:hover>h3 {
    background-color: #fcecec;
    color: #d93025;
    font-weight: 700 !important;
}